@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap');
@import 'tailwindcss';

/* 🌙 Dark Theme (default) */
:root {
	--color-primary: #4a90e2;
	--color-secondary: #6c757d;
	--color-background: #181818;
	--color-text: #e0e0e0;
	--color-border: #333;
	--color-card: #222;
	--font-mono: 'Fira Code', 'JetBrains Mono', 'Courier New', monospace;
}

/* 🌞 Light Theme */
.light {
	--color-background: #ececec;
	--color-text: #212529;
	--color-border: #bbb;
	--color-card: #f0f0f0;
}

body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-mono);
}

.card {
	background-color: var(--color-card);
	border: 1px solid var(--color-border);
}

.button {
	background-color: var(--color-primary);
	cursor: pointer;
	color: #fff;
}

.button:hover {
	background-color: var(--color-secondary);
}

.input {
	background-color: var(--color-card);
	border: 1px solid var(--color-border);
	color: var(--color-text);
}

main {
	display: grid;
	grid-template-rows: auto 1fr;
	height: 100vh;
}

.content {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 16px;
	height: calc(100vh - 80px);
	overflow-y: auto;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	background-color: var(--color-background);
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	background-color: var(--color-background);
	padding: 16px;
	z-index: 20;
}
